.gradle
/build
/captures
.externalNativeBuild
.cxx
/local.properties
/.idea
*.iml
.gradle
*.log
.gradle*
.DS_Store
.idea/
*.iml
build/
.gradle/
/local.properties
/.idea/
*/build/
*/.gradle/
*/.idea/
app/google-services.json
**/google-services.json
